
@using Mladim.Client.ViewModels.Survey;
@using Syncfusion.Blazor.Inputs
@using Mladim.Domain.Enums;





<div class="row">
    <MudText Typo="Typo.h2" Color="Color.Tertiary" Class="py-3">@SurveyQuestion.Texts.FirstOrDefault()</MudText>
    <ValidationMessage For="@(() => SurveryResponse.Response)"></ValidationMessage>
    <div class="col-12">
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="@name" @onclick="(()=>OnThumbClick(SurveyBooleanResponseType.ThumpsUp))" id="@randomThumbUpId" autocomplete="off">
            <label class="btn btn-primary shadow-none" for="@randomThumbUpId">
                <span class="oi oi-thumb-up thumb"></span>
            </label>

            <input type="radio" class="btn-check" name="@name" @onclick="(()=>OnThumbClick(SurveyBooleanResponseType.ThumpsDown))" id="@randomThumbDownId" autocomplete="off">
            <label class="btn btn-primary shadow-none" for="@randomThumbDownId">
                <span class="oi oi-thumb-down thumb"></span>
            </label>
        </div>
    </div>
</div>

@code
    {
    private string randomThumbUpId   = Guid.NewGuid().ToString();
    private string randomThumbDownId = Guid.NewGuid().ToString();
    private string name = Guid.NewGuid().ToString();

    [Parameter]
    public SurveyQuestionVM SurveyQuestion { get; set; } = default!;

    [Parameter]
    public QuestionBooleanResponseVM SurveryResponse { get; set; } = default!;

    private void OnThumbClick(SurveyBooleanResponseType response)
    {
        SurveryResponse.Response = response;
    }   
    
}
