@using Mladim.Client.ViewModels.Survey;
@using Mladim.Domain.Enums;
@using Mladim.Domain.Extensions;

<MudPaper Class="p-2">
    <MudText Color="Color.Tertiary" Class="py-3 px-2" Typo="Typo.h2">@RatingResponseGroup.Question</MudText>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Table.Name</th>
                @for (int i = 0; i < numOfRatingTypes; i++)
                {
                    <th class="text-center" scope="col">
                        @for(int j = 0; j <= i; j++)
                        {
                            <i style="color:#4da456;" class="bi bi-emoji-smile px-1" />
                        }                        
                    </th>                    
                }               
                <th class="text-center"  scope="col">Skupaj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Table.ParticipantsByCriteria)
            {
                <tr>
                    <th scope="row">@row.Criterion</th>

                    @foreach (var participantsByResponseType in row.ParticipantsByReponseTypes)
                    {
                        <td class="text-center">@participantsByResponseType.Unit</td>
                    }
                    <td class="text-center">@row.ParticipantsByReponseTypes.Sum(pr => pr.Unit)</td>
                </tr>
            }                       
        </tbody>
    </table>
</MudPaper>

@code 
{
    [Parameter]
    public SurveyRatingResponsesGroupedByQuestion RatingResponseGroup { get; set; } = default!;

    [Parameter]
    public ContingencyCalculator ContingencyCalculator { get; set; } = default!;

    private ContingencyTable Table = default!;

    private ContingencyTable GetContingencyTable() =>
        this.ContingencyCalculator.GetContingencyTableFor(RatingResponseGroup);

    protected override void OnParametersSet() =>
        this.Table = GetContingencyTable();

    private int numOfRatingTypes = 0;

    protected override void OnInitialized()
    {
        numOfRatingTypes = Enum.GetValues<SurveyRatingResponseType>().Count();
    }


   
}
