@using Mladim.Client.ViewModels.Survey;
@using Mladim.Domain.Enums;
@using Mladim.Domain.Extensions;

<MudPaper Class="p-2">
    <MudText Color="Color.Tertiary" Class="py-3 px-2" Typo="Typo.h2">@BoleanResponseGroup.Question</MudText>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Table.Name</th>
                
                <th scope="col" class="text-center">
                    <span style="color:#4da456;" class="oi oi-thumb-up thumb"></span>
                </th>
                <th scope="col" class="text-center">
                    <span style="color:#4da456;" class="oi oi-thumb-down thumb"></span>
                </th>                
                <th scope="col" style="font-weight:bold;" class="text-center;">Skupaj</th>
            </tr>
        </thead>
        <tbody>          
            @foreach (var row in Table.ParticipantsByCriteria.ToList())
            {               
                    <tr>
                        <th scope="row">@row.Criterion</th>                        
                      
                        @foreach (var participantsByResponseType in row.ParticipantsByReponseTypes)
                        {                           
                            <td class="text-center">@participantsByResponseType.Unit</td>
                        }                        
                        <td style="font-weight:bold;" class="text-center;">@row.ParticipantsByReponseTypes.Sum(pr => pr.Unit)</td>
                    </tr>                              
            }           
        </tbody>
    </table>
</MudPaper>

@code
{
    [Parameter]
    public SurveyBoleanResponsesGroupedByQuestion BoleanResponseGroup { get; set; } = default!;

    // [Parameter]
    // public SurveyResponseSelector Selector { get; set; } = default!;

    [Parameter]
    public CogntigencyTableContext Context { get; set; } = default!;


    private ContingencyTable Table = default!;

    private ContingencyTable GetContingencyTable() =>
        this.Context.GetContingencyTableFor(BoleanResponseGroup);

    protected override void OnParametersSet() =>    
        this.Table = GetContingencyTable();
}
