@using Mladim.Client.ViewModels.Survey;
@using Mladim.Domain.Enums;
@using Mladim.Domain.Extensions;

<MudPaper Class="p-2">
    <MudText Color="Color.Tertiary" Class="py-3" Typo="Typo.h2">@RatingResponseGroup.QuestionDescription</MudText>   
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Selector.Name</th>
                @foreach (var type in Enum.GetValues<SurveyRatingResponseType>())
                {
                    <th scope="col">@type.GetDisplayAttribute()</th>
                }
                <th scope="col">Skupaj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in surveyParticipantListRow)
            {
                <tr>
                    <th scope="row">@row.Criterion</th>

                    @foreach (var participantsByType in row.ParticipantsPerType)
                    {
                        <td>@participantsByType.NumOfParticipants</td>
                    }
                    <td>@row.ParticipantsPerType.Sum(pt => pt.NumOfParticipants)</td>
                </tr>
            }                 
        </tbody>
    </table>
</MudPaper>

@code 
{
    [Parameter]
    public SurveyRatingResponsesGroupedByQuestion RatingResponseGroup { get; set; } = default!;

    [Parameter]
    public SurveyResponseSelector Selector { get; set; } = default!;

    private IEnumerable<SurveyParticipantRow> surveyParticipantListRow = new List<SurveyParticipantRow>();    

    private IEnumerable<SurveyParticipantRow> GetSurveyParticipantRows() =>
        this.Selector.ParticipantPredicatesByType
            .SelectMany(pp => RatingResponseGroup.NumberOfParticipantsByCriterion(pp.Predicate, pp.Name))
            .ToList();

    protected override void OnParametersSet()
    {
        surveyParticipantListRow = GetSurveyParticipantRows();
    }
}
