@using Mladim.Client.ViewModels.Survey;
@using Mladim.Domain.Enums;
@using Mladim.Domain.Extensions;

<MudPaper Class="p-2">
    <MudText Color="Color.Tertiary" Class="py-3" Typo="Typo.h2">@BoleanResponseGroup.QuestionDescription</MudText>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Selector.Name</th>
                @foreach (var type in Enum.GetValues<SurveyBooleanResponseType>())
                {
                    <th scope="col">@type.GetDisplayAttribute()</th>
                }
                <th scope="col">Skupaj</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var row in surveyParticipantListRow)
            {               
                    <tr>
                        <th scope="row">@row.Criterion</th>

                        @foreach (var participantsByType in row.ParticipantsPerType)
                        {
                            <td>@participantsByType.NumOfParticipants</td>
                        }
                        <td>@row.ParticipantsPerType.Sum(pt => pt.NumOfParticipants)</td>
                    </tr>                              
            }           
        </tbody>
    </table>
</MudPaper>

@code
{
    [Parameter]
    public SurveyBoleanResponsesGroupedByQuestion BoleanResponseGroup { get; set; } = default!;

    [Parameter]
    public SurveyResponseSelector Selector { get; set; } = default!;

    private IEnumerable<ParticipantsPerResponseTypes> surveyParticipantListRow = new List<ParticipantsPerResponseTypes>();

    private IEnumerable<ParticipantsPerResponseTypes> GetSurveyParticipantRows() =>
        this.Selector.ParticipantPredicatesByType
            .SelectMany(pp => BoleanResponseGroup.NumberOfParticipantsByCriterion(pp.Predicate, pp.Name))
            .ToList();


    protected override void OnParametersSet()
    {
        surveyParticipantListRow = GetSurveyParticipantRows();
    }



}
