@using Mladim.Client.ViewModels.Survey;
@using Mladim.Domain.Enums;
@using Mladim.Domain.Extensions;
@using Mladim.Domain.Models.Survey.ParticipantResponseTypes;

<style>
    .bold_font {
        font-weight: bold;
    }

    td {
        text-align: center;
        color:#777A98;
    }
    th{
        color: #777A98;
    }

    .normal_font{
        font-weight:normal;
    }
</style>


<MudPaper Class="p-2" Elevation="3">
    <MudText Color="Color.Tertiary" Class="py-3 px-2" Typo="Typo.h2">@RatingResponseGroup.SubContent</MudText>

    <table class="table">
        <thead>
            <tr class="d-flex">
                <th scope="col" class="col-3">@Table.Name</th>
               
                    <th class="text-center col-1" scope="col">
                        <MudIcon Icon="@CustomIcons.RatingOneSmilesIcon"/>                                                
                    </th> 
                      <th class="text-center col-1" scope="col">
                        <MudIcon Icon="@CustomIcons.RatingTwoSmilesIcon"/>                                                
                    </th>     
                      <th class="text-center col-1" scope="col">
                        <MudIcon Icon="@CustomIcons.RatingThreeSmilesIcon"/>                                                
                    </th>     
                      <th class="text-center col-1" scope="col">
                        <MudIcon Icon="@CustomIcons.RatingFourSmilesIcon"/>                                                
                    </th>
                <th class="text-center col-1" scope="col">
                    <MudIcon Icon="@CustomIcons.RatingFiveSmilesIcon" />
                </th>

                <th scope="col" class="text-center bold_font col-1">Skupaj</th>
                <th scope="col" class=" col-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Table.ParticipantsByCriteria)
            {
                <tr class="d-flex">
                    <th scope="row" class="@(row.Criterion=="Skupaj" ? "bold_font" : "normal_font") col-3">@row.Criterion</th>

                    @foreach (var column in RatingResponseGroup.AvailableResponseTypes.ToList())
                    {
                        <td class="@(row.Criterion == "Skupaj" ? "bold_font": "normal_font") col-1">@row.ReponseTypesPerCriterion.FirstOrDefault(rt => rt.ResponseType.ToString() == column.ToString())?.Value</td>
                    }

                    <td class="@(row.Criterion=="Skupaj" ? "bold_font" : "normal_font") col-1">@Math.Round(row.ReponseTypesPerCriterion.Sum(pr => pr.Value), 0)</td>

                    <th scope="col" class=" col-3"></th>
                </tr>
            }                       
        </tbody>
    </table>
</MudPaper>

@code 
{
    [Parameter]
    public SurveyRatingResponsesGroupedByQuestion RatingResponseGroup { get; set; } = default!;

    [Parameter]
    public CogntigencyTableContext Context { get; set; } = default!;

    private ContingencyTable Table = default!;

    private ContingencyTable GetContingencyTable() =>
        this.Context.GetContingencyTableFor(RatingResponseGroup);

    protected override void OnParametersSet() =>
        this.Table = GetContingencyTable();   
   
}
