@using Mladim.Client.Components.Anketa
@using Mladim.Client.ViewModels.Activity;
@using Mladim.Domain.Enums;
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Grids;
@using System.Diagnostics


<style>
    .e-altrow, tr.e-chart-row:nth-child(odd) {
        background-color: #EFEFEF;
    }  


    .custom-row {
        font-family: "Poppins";
        font-size: 0.8rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.024rem;
    }

    .custom-row-label {
        font-family: "Poppins";
        font-size: 0.9rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.024rem;
    }

</style>

<MudStack Spacing="4" Class="py-5" >
        <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center" Class="py-3">
             <MudStack Row Spacing="3">
                 <MudDatePicker Variant="Variant.Outlined" Color="Color.Primary" Label="Začetek" MaxDate="@statisticsDateRange?.End" PickerClosed="@OrgStatisticsDateTimePickerClosed" @bind-Date="@statisticsDateRange.Start" OpenTo="OpenTo.Year" FixDay="1" />
                 <MudDatePicker Variant="Variant.Outlined" Color="Color.Primary" Label="Konec" MinDate="@statisticsDateRange?.Start" PickerClosed="@OrgStatisticsDateTimePickerClosed" @bind-Date="@statisticsDateRange.End" OpenTo="OpenTo.Year" FixDay="1" />
             </MudStack>
             <MudStack Row>
                    <MudIconButton Variant="Variant.Outlined" Size="MudBlazor.Size.Large" Color="Color.Primary" Icon="@Icons.Material.Filled.PictureAsPdf" OnClick="GeneratePdfAsync"></MudIconButton>
                    <MudIconButton Disabled="@isActiveExportingImages" Variant="Variant.Outlined" Size="MudBlazor.Size.Large" Color="Color.Primary" Icon="@Icons.Material.Filled.Image" OnClick="GenerateImagesAsync"></MudIconButton>
             </MudStack>
           
         </MudStack>
       

        <div @ref="Element">
           <MudGrid Class="py-2">
                @if (isAnyParticipant)
                {
                    <MudItem md="6">
                            <MudPaper Outlined="true">
                                <SfAccumulationChart @ref="@ParticipantsByAgeChart"  Title="Razporeditev udeležencev po starostni skupini" EnableAnimation="false" EnableSmartLabels="false" CustomClass="custom-row">
                                    <AccumulationChartTitleStyle FontFamily="Poppins" FontWeight="400" Size="0.9rem" Color="#6e7191" />
                                    <AccumulationChartSeriesCollection>
                                        <AccumulationChartSeries DataSource="@organizationStatistics.AgeDoughnut" PointColorMapping="Fill" XName="Name" YName="Value" InnerRadius="80%">
                                            <AccumulationDataLabelSettings Visible="true" Name="Text" Position="AccumulationLabelPosition.Outside" >
                                                <AccumulationChartDataLabelFont FontFamily="Poppins" FontWeight="400" Size="0.9rem" Color="#6e7191" />
                                            </AccumulationDataLabelSettings>
                                        </AccumulationChartSeries>
                                    </AccumulationChartSeriesCollection>
                                    <AccumulationChartLegendSettings Visible="true" Alignment="Alignment.Near" Position="LegendPosition.Right">
                                        <AccumulationChartLegendFont FontFamily="Poppins" FontWeight="400" Size="0.8rem" Color="#6e7191" />
                                    </AccumulationChartLegendSettings>
                                </SfAccumulationChart>
                            </MudPaper>
                        </MudItem>
                    <MudItem md="6">
                            <MudPaper Outlined="true">
                        <SfAccumulationChart @ref="@ParticipantsByGenderChart" Title="Razporeditev udeležencev po spolu" EnableAnimation="false" EnableSmartLabels="false">
                                    <AccumulationChartTitleStyle FontFamily="Poppins" FontWeight="400" Size="0.9rem" Color="#6e7191" />
                                    <AccumulationChartSeriesCollection>
                                        <AccumulationChartSeries DataSource="@organizationStatistics.GenderDoughnut" PointColorMapping="Fill" XName="Name" YName="Value" InnerRadius="80%">
                                            <AccumulationDataLabelSettings Visible="true" Name="Text" Position="AccumulationLabelPosition.Outside">
                                                <AccumulationChartDataLabelFont FontFamily="Poppins" FontWeight="400" Size="0.9rem" Color="#6e7191" />
                                            </AccumulationDataLabelSettings>
                                        </AccumulationChartSeries>
                                    </AccumulationChartSeriesCollection>
                                    <AccumulationChartLegendSettings Visible="true" Alignment="Alignment.Near" Position="LegendPosition.Right">
                                        <AccumulationChartLegendFont FontFamily="Poppins" FontWeight="400" Size="0.8rem" Color="#6e7191" />
                                    </AccumulationChartLegendSettings>
                                </SfAccumulationChart>
                            </MudPaper>
                        </MudItem>                      
                }
                else
                {
                    <MudItem sm="12"> 
                         <MudText Typo="Typo.h2" Color="Color.Tertiary">V izbranem letu ni zabeleženih udeležencev</MudText>
                    </MudItem>          
                }

                <MudItem xs="12" >
                    <MudStack Row Spacing="3" AlignItems="AlignItems.Stretch" >
                            <MudPaper Outlined="true" Class="pa-4">                             
                                     <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                        <MudAvatar Style="background-color:#4da456" Variant="Variant.Filled" Size="MudBlazor.Size.Large">
                                            <MudImage Class="pa-3" Src="/participants.png" />
                                        </MudAvatar>
                                        <MudStack Spacing="1">
                                            <MudText Typo="Typo.h2" Color="Color.Tertiary">@(organizationStatistics?.IndividualParticipants + organizationStatistics?.AnonymousParticipants)</MudText>
                                            <MudText Typo="Typo.h2" Color="Color.Tertiary">Udeleženci</MudText>
                                        </MudStack>        
                                    </MudStack>                            
                            </MudPaper>
                            <MudPaper Outlined="true" Class="pa-4">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                         <MudAvatar Style="background-color:#FCCA46" Variant="Variant.Filled" Size="MudBlazor.Size.Large">
                                            <MudImage Class="pa-3" Src="/activities.png" />
                                         </MudAvatar>
                                         <MudStack Spacing="1">
                                             <MudText Typo="Typo.h2" Color="Color.Tertiary">@(organizationStatistics?.ActiveActivities.Count + organizationStatistics?.PastActivities.Count)</MudText>
                                                <MudText Typo="Typo.h2" Color="Color.Tertiary">Aktivnosti</MudText>
                                         </MudStack>
                                    </MudStack>
                                </MudPaper>
                            <MudPaper Outlined="true" Class="pa-4">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="2">
                                        <MudAvatar Style="background-color:#8ED974; color:white" Variant="Variant.Filled" Size="MudBlazor.Size.Large">
                                            <MudImage Class="pa-2" Src="/projects.png" />
                                        </MudAvatar>
                                        <MudStack Spacing="1">
                                             <MudText Typo="Typo.h2" Color="Color.Tertiary">@organizationStatistics?.ActiveProjects.Count</MudText>
                                             <MudText Typo="Typo.h2" Color="Color.Tertiary">Aktivni projekti</MudText>
                                        </MudStack>
                                    </MudStack>
                            </MudPaper>
                    </MudStack>              
                </MudItem>

                @foreach (var questionResponse in ShownQuestionsSurveyStatistics)
                {                   
                    <MudItem sm="12">
                        <SurveyStatisticsCharts Parent="@this" QuestionStatistics="@questionResponse" />
                    </MudItem>               
                }
                 <MudItem sm="12">
                    @if (ShownQuestionsSurveyStatistics.Any())
                    {
                        <MudStack Row Justify="Justify.Center">
                            <MudToggleIconButton Toggled="@MoreQuestionStatistics" ToggledChanged="OnMoreQuestionStatisticsChanged" 
                                Icon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Primary" 
                                ToggledIcon="@Icons.Material.Filled.KeyboardArrowUp" ToggledColor="Color.Primary" />
                        </MudStack>
                    }
                 </MudItem>  
           </MudGrid>

        </div>

    @if (activities.Any())
    {

        <MudText Typo="Typo.h2" Color="Color.Tertiary">Seznam prihajajočih aktivnosti</MudText>

        <SfGantt class="pt-5" DataSource="@activities" RowHeight="40" TaskbarHeight="30" IncludeWeekend=true>
            <GanttTaskFields Id="Id" Name="ActivityName" StartDate="StartDate" EndDate="EndDate" ParentID="ParentId" />
            <GanttTooltipSettings ShowTooltip="true" TValue="ActivityForGantt">
                <TaskbarTemplate>
                    @{
                        <div>@context.ActivityName</div>
                        <div>Začetek: @context.StartDate.ToShortDateString()</div>
                        <div>Konec: @context.EndDate.ToShortDateString()</div>
                    }
                </TaskbarTemplate>
            </GanttTooltipSettings>
            <GanttSplitterSettings ColumnIndex=5></GanttSplitterSettings>
            <GanttColumns>
                <GanttColumn Field="Id" HeaderText="Št." Visible=false>
                    <HeaderTemplate>
                        <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                            @((context as GridColumn).HeaderText)
                        </div>
                    </HeaderTemplate>
                </GanttColumn>
                <GanttColumn Field="ActivityName" HeaderText="Ime aktivnosti">
                    <HeaderTemplate>
                        <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                            @((context as GridColumn).HeaderText)
                        </div>
                    </HeaderTemplate>
                </GanttColumn>
                <GanttColumn Field="ProjectName" HeaderText="Ime projekta">
                    <HeaderTemplate>
                        <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                            @((context as GridColumn).HeaderText)
                        </div>
                    </HeaderTemplate>
                </GanttColumn>
                <GanttColumn Field="StartDate" HeaderText="Začetek" Width="100">
                    <HeaderTemplate>
                        <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                            @((context as GridColumn).HeaderText)
                        </div>
                    </HeaderTemplate>
                </GanttColumn>
                <GanttColumn Field="EndDate" HeaderText="Konec" Width="100">
                    <HeaderTemplate>
                        <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                            @((context as GridColumn).HeaderText)
                        </div>
                    </HeaderTemplate>
                </GanttColumn>
            </GanttColumns>

            <GanttTemplates TValue="ActivityForGantt">
                <TaskbarTemplate>
                    <div class="e-gantt-parent-taskbar" style="background-color:#4da456; height:30px; border: 4px solid #4da456; border-radius:8px;" />
                </TaskbarTemplate>
            </GanttTemplates>            
            <GanttEvents TValue="ActivityForGantt" RowDataBound="RowDataBound" RowSelected="SelectedActivity"></GanttEvents>
        </SfGantt>
    }
    else
    {
        <MudText Typo="Typo.h2" Color="Color.Tertiary">Organizacija nima nobenih prihajajočih aktivnosti.</MudText>
    }
</MudStack>


