@page "/activities"
@page "/activities/{projectId:int}"
@using Mladim.Client.ViewModels.Activity;
@using Syncfusion.Blazor.Grids;


@attribute [Authorize]



<style>   
    .e-altrow, tr.e-chart-row:nth-child(odd) {
        background-color: #EFEFEF;
    }


    .custom-row
    {
        font-family: "Poppins";
        font-size : 0.8rem;
        font-weight:400;
        line-height:normal;
        letter-spacing: -0.024rem;
    }

    .custom-row-label {
        font-family: "Poppins";
        font-size: 0.9rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.024rem;
    }


</style>



<PageTitle>Aktivnosti</PageTitle>

 <MudStack Class="py-5" Spacing="5">

    @if(activities == null)
    {
        <MudText Typo="Typo.h2" Color="Color.Tertiary">Nalagam...</MudText>
    }
    else if (activities?.Count == 0)
    {
        <MudText Typo="Typo.h2" Color="Color.Tertiary">@($"{defaultOrg?.Name}: Seznam aktivnosti")</MudText>
        <MudText Typo="Typo.h2" Color="Color.Tertiary">Ni aktivnosti za izbrano organizacijo.</MudText>
    }
    else
    {
        <MudText Typo="Typo.h2" Color="Color.Tertiary">@($"{defaultOrg?.Name}: Seznam aktivnosti")</MudText>
        <MudPaper Class="pa-3">
            <MudGrid Spacing="2">
                <MudItem sm="6" xl="3" xs="12">
                    <MudDateRangePicker Label="Obdobje" Rounded="true" DateFormat="dd-MMM-yyyy" DateRange="dateRange" DateRangeChanged="OnDateRangeChanged" Variant=Variant.Outlined Clearable />
                </MudItem>
                <MudItem sm="6" xl="3" xs="12">
                        <MudSelect T="NamedEntityVM" SelectedValues="selectedProjects" SelectedValuesChanged="OnProjectNameChanged" Label="Izberi projekt" Variant="Variant.Outlined"   
                                    Clearable
                        >
                            @foreach (var project in projects)
                        {
                            <MudSelectItem T="NamedEntityVM" Value="@project">@project.FullName</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem sm="6" xl="3" xs="12">
                    <MudSelect T="NamedEntityVM" SelectedValuesChanged="OnProjectLeaderChanged" Label="Izberi vodjo projekta" Variant="Variant.Outlined"      
            Clearable
                        >
                            @foreach (var projectLead in projectLeads)
                        {
                            <MudSelectItem T="NamedEntityVM" Value="@projectLead">@projectLead.FullName</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem sm="6" xl="3" xs="12">
                    <MudSelect T="NamedEntityVM" SelectedValuesChanged="OnActivityLeaderChanged" Label="Izberi vodjo aktivnosti" Variant="Variant.Outlined"     
            Clearable
                        >
                            @foreach (var activityLead in activityLeads)
                        {
                            <MudSelectItem T="NamedEntityVM" Value="@activityLead">@activityLead.FullName</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>


            @if (filteredActivities.Count > 0)
            {
                <SfGantt  class="pt-5" DataSource="@filteredActivities" RowHeight="40" TaskbarHeight="30" IncludeWeekend=true >
                    
                    <GanttTaskFields Id="Id" Name="ActivityName" StartDate="StartDate" EndDate="EndDate" ParentID="ParentId">
                        
                    </GanttTaskFields>
                    <GanttTooltipSettings ShowTooltip="true" TValue="ActivityForGantt">
                        <TaskbarTemplate>
                            @{
                                <div>@context.ActivityName</div>                                
                                <div>Začetek: @context.StartDate.ToShortDateString()</div>
                                <div>Konec: @context.EndDate.ToShortDateString()</div>
                             }
                        </TaskbarTemplate>
                    </GanttTooltipSettings>
                    <GanttSplitterSettings ColumnIndex=5 ></GanttSplitterSettings>
                    <GanttColumns>
                        <GanttColumn Field="Id" HeaderText="Št."  Visible=false>
                            <HeaderTemplate>
                                <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                                    @((context as GridColumn).HeaderText)
                                </div>
                            </HeaderTemplate>
                        </GanttColumn>
                        <GanttColumn Field="ActivityName" HeaderText="Ime aktivnosti" >
                            <HeaderTemplate>
                                <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                                    @((context as GridColumn).HeaderText)
                                </div>
                            </HeaderTemplate>
                        </GanttColumn>
                        <GanttColumn Field="ProjectName" HeaderText="Ime projekta">
                            <HeaderTemplate>
                                <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                                    @((context as GridColumn).HeaderText)
                                </div>
                            </HeaderTemplate>
                        </GanttColumn>
                        <GanttColumn Field="StartDate" HeaderText="Začetek" Width="100">
                            <HeaderTemplate>
                                <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                                    @((context as GridColumn).HeaderText)
                                </div>
                            </HeaderTemplate>
                        </GanttColumn>
                        <GanttColumn Field="EndDate" HeaderText="Konec" Width="100">
                            <HeaderTemplate>
                                <div style="font-family:Poppins;font-size:0.9rem;font-weight:400;line-height:normal;letter-spacing:-0.024rem;">
                                    @((context as GridColumn).HeaderText)
                                </div>
                            </HeaderTemplate>
                        </GanttColumn>
                    </GanttColumns>
                   
                    <GanttTemplates TValue="ActivityForGantt" >
                        <TaskbarTemplate>
                            <div class="e-gantt-parent-taskbar" style="background-color:#4da456; height:30px; border: 4px solid #4da456; border-radius:8px;"/>            
                        </TaskbarTemplate>
                        
                    </GanttTemplates>
                    
                    <GanttEvents TValue="ActivityForGantt" RowDataBound="RowDataBound" RowSelected="SelectedActivity"></GanttEvents>    
                </SfGantt>
            }
        </MudPaper>
        
    }

</MudStack>


   






