@page "/survey/{activityId:int}"

@using Mladim.Client.Components.Anketa;
@using Mladim.Client.ViewModels.Anketa;
@using Mladim.Domain.Enums;
@using Mladim.Domain.Extensions;

@layout SurveyLayout

<PageTitle>Anketa</PageTitle>


<MudStack Spacing="3" Justify="Justify.FlexStart" AlignItems="AlignItems.Start" Class="py-5">

    <MudText Typo="Typo.h2" Color="Color.Tertiary">@($"Prošnja za povratno informacijo o aktivnosti {Activity?.Attributes.Name}.")</MudText>

    <MudText Typo="Typo.h1" Color="Color.Tertiary">To povabilo si dobil/-a zaradi tvoje udeležbe na omenjeni aktivnosti. Tvoje povratne informacije so namenjene bodočim izboljšavam podobnih aktivnosti, ki jih organizacija izvaja. Vsi podatki so anonimni, osebnih informacij ne zbiramo. Najlepša hvala!</MudText>

    <div style="width:250px;">
            <MudSelect ValueChanged=SelectedGenderChanged  T="Gender" ToStringFunc="@(gender => gender.GetDisplayAttribute())" Variant="Variant.Outlined" Label="Spol:" AnchorOrigin="Origin.BottomCenter">
                @foreach (var gender in Enum.GetValues<Gender>())
                {
                    <MudSelectItem Value="gender">@gender.GetDisplayAttribute()</MudSelectItem>
                }
        </MudSelect>

        <MudNumericField @bind-Value="@participantAge" Label="Starost:" Variant="Variant.Outlined" InputType="InputType.Number" Min="1" Max="100"> </MudNumericField>
    </div>
    
    <SelectButtonQuestion></SelectButtonQuestion>
    @* @for(int i = 0; i < Questions.Count(); i++)
    {
        int j = i + 1;

        if (Questions[i].GetType() == typeof(RatingResponseQuestionVM))
        {
            <RatingQuestion Number="j" Question="@(Questions[i] as RatingResponseQuestionVM)"></RatingQuestion>
        }
        else if (Questions[i].GetType() == typeof(BooleanResponseQuestionVM))
        {
            <BooleanQuestion Number="j" Question="@(Questions[i] as BooleanResponseQuestionVM)"></BooleanQuestion>
        }
        else if (Questions[i].GetType() == typeof(TextResponseQuestionVM))
        {
            <TextQuestion Number="j" Question="@(Questions[i] as TextResponseQuestionVM)"></TextQuestion>
        }
        else if (Questions[i].GetType() == typeof(MultipleRatingQuestionsVM))
        {
            <MultipleRatingQuestions Number="j" Question="@(Questions[i] as MultipleRatingQuestionsVM)"></MultipleRatingQuestions>
        }
    }  *@


</MudStack>

