@page "/organization/{OrganizationId:int}/project/"
@page "/organization/{OrganizationId:int}/project/{projectId:int}"
@attribute [Authorize]


<MudStack Class="pt-5 pb-8" Spacing="4">
    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h5">@(editable ? "Vnesi podatke o projektu" : "Podatki o projektu")</MudText>


         <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
             <MudToggleIconButton Toggled="@editable" ToggledChanged="OnProjectEditableChanged" Size="Size.Small"
                                  Icon="@Icons.Material.Filled.Edit" Color="@Color.Primary" Title="Edit"
                                  ToggledIcon="@Icons.Material.Filled.Save" ToggledColor="@Color.Primary" ToggledTitle="Save" />

             @if (!editable)
            {
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Color="Color.Error" OnClick="DeleteProjectAsync"/>
            }


            <MudIconButton Color="Color.Secondary" Size="Size.Small" Icon="@Icons.Material.Filled.Cancel" OnClick="CancelProjectAsync" />            
         </MudButtonGroup>
    </MudStack>

    <MudTextField ReadOnly ="!editable" @bind-Value="project.Attributes.Name" Variant="Variant.Outlined" Label="Ime projekta">@project.Attributes.Name</MudTextField>
    <MudDateRangePicker ReadOnly ="!editable"  Variant="Variant.Outlined" Label="Trajanje projekta" @bind-DateRange="project.DateRange"/>       

    <div>
        <SfRichTextEditor Readonly="!editable" @bind-Value="project.Attributes.Description" Placeholder="Nekaj o projektu" />           
    </div>

    <MudTextField  @bind-Value="project.Attributes.WebpageUrl" Label="Spletna stran" Variant="Variant.Outlined"></MudTextField>

        <MudSelect ReadOnly="!editable" T="NamedEntityVM" MultiSelection="true" ToStringFunc="@((staff)=> staff.FullName)" @bind-SelectedValues="project.Staff" Variant="Variant.Outlined" Label="Vodje projekta" AnchorOrigin="Origin.BottomCenter">
         @foreach (var staffMember in Staff)
        {
            <MudSelectItem Value="staffMember">@staffMember.FullName</MudSelectItem>
        }
    </MudSelect>

    <MudSelect ReadOnly="!editable" MultiSelection="true" T="NamedEntityVM" ToStringFunc="@((staff)=> staff.FullName)" @bind-SelectedValues="project.Administration" Variant="Variant.Outlined" Label="Administrativno-tehnično osebje" AnchorOrigin="Origin.BottomCenter">
        @foreach (var staffMember in Staff)
        {
            <MudSelectItem Value="staffMember">@staffMember.FullName</MudSelectItem>
        }
    </MudSelect>  


    <MudStack Row Spacing="5" AlignItems="AlignItems.Center">
        <MudSelect ReadOnly="!editable"  MultiSelection="true" T="NamedEntityVM" ToStringFunc="@((partner)=> partner.FullName)" @bind-SelectedValues="project.Partners" Variant="Variant.Outlined" Label="Partnerji" AnchorOrigin="Origin.BottomCenter">
            @foreach (var partner in Partners)
            {
                    <MudSelectItem Value="partner">@partner.FullName</MudSelectItem>
            }
        </MudSelect>
        <MudIconButton Disabled ="!editable" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" OnClick="AddPartnerAsync" />      
    </MudStack>


    <MudFileUpload Disabled="!editable" T="IReadOnlyList<IBrowserFile>" Multiple MaximumFileCount=5 FilesChanged="UploadFilesToProject">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="@context">
                Naloži datoteke
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>

    @if (project.Files.Count > 0)
    {
        <MudPaper Class="d-flex align-content-start flex-wrap flex-grow-1 gap-4" Elevation="0">
            @foreach (var file in project.Files)
            {
                <MudPaper Class="pa-2" Elevation="3">
                    <MudStack Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center">
                         <MudText Typo="Typo.body2">@file.FileName</MudText>
                         @if (editable) 
                         {
                            <MudButton Class="cursor-pointer" Color=Color.Error EndIcon="@Icons.Material.Filled.Delete" OnClick="()=>DeleteAttachedFileAsync(file)">Izbriši</MudButton>
                         }
                         else
                         {
                            <MudButton Class="cursor-pointer" Color=Color.Primary EndIcon="@Icons.Material.Filled.FileDownload" OnClick="() => SelectedFileAsync(file)">Prenesi</MudButton>
                         }                     
                     </MudStack>
                 </MudPaper>
            }
        </MudPaper>
    }

</MudStack>



